@media (max-width: 400px) {
  .navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(241,26,26);
    display: none;
  }
}

@media (min-width: 400px) {
  .navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(255,255,255);
  }
}

